$margin-tiny:   5px;
$margin-small:  10px;
$margin-medium: 25px;
$margin-big:    45px;

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic|Open+Sans:400,600,700);

@import "stylesheets/normalize";

@import "stylesheets/branding";
@import "stylesheets/typography";
@import "stylesheets/layout";

@import "stylesheets/component.product";
@import "stylesheets/component.load.more";
@import "stylesheets/component.preloader";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  font-family: "Open Sans", Helvetica, sans-serif;
  background: $color-background;
}
